h1 {
    color: red;
}
.student-owner {
color: violet;
font-size: 35px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border: 1px dotted blue;
}

.student-contributor > p {
    font-size: 20px;
    color: green;    
}